<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        {{titulo}}
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>

        <form #formR="ngForm" class="form-horizontal">
          <div class="row">


            <div class="form-group col-md-6 col-sm-12">
              <label class="control-label col-sm-2" for="identificador">Identificador:</label>
              <div class="col">
                <input type="text" #identificador="ngModel" class="form-control" verificarC id="identificador" placeholder="Identificador"
                  name="identificador" required [(ngModel)]="this.solicitudActual.identificador">
              </div>
              <div *ngIf="identificador.invalid && (identificador.dirty || identificador.touched)" class="col">
                <small *ngIf="identificador.errors.required" class="form-text text-muted text-danger text-right">Identificador requerido.</small>
                <small *ngIf="identificador.errors?.verificarC" class="form-text text-danger
                text-right">Identificador ya en uso.</small>
              </div>
            </div>


            <div class="form-group col-md-6 col-sm-12">
              <label class="control-label col-sm-2" for="nombre">Nombre:</label>
              <div class="col">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" [(ngModel)]="this.solicitudActual.nombre"
                  required #nombre="ngModel">
              </div>
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="col">
                <small *ngIf="nombre.errors.required" class="form-text text-muted text-danger text-right">Nombre requerido.</small>
              </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <label class="control-label col-sm-2" for="impuesto">Impuesto:</label>
              <div class="col">
                <input type="text" class="form-control" id="impuesto" placeholder="impuesto" name="impuesto" [(ngModel)]="this.solicitudActual.impuesto"
                  required #impuesto="ngModel">
              </div>
              <div *ngIf="impuesto.invalid && (impuesto.dirty || impuesto.touched)" class="col">
                <small *ngIf="impuesto.errors.required" class="form-text text-muted text-danger text-right">Impuesto requerido.</small>
              </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
              <label class="control-label col-sm-2" for="impuesto">Precio:</label>
              <div class="col">
                <input type="text" class="form-control" id="precio" placeholder="precio" name="precio" [(ngModel)]="this.solicitudActual.precio"
                  required #precio="ngModel">
              </div>
              <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="col">
                <small *ngIf="precio.errors.required" class="form-text text-muted text-danger text-right">Precio requerido.</small>
              </div>
            </div>

          </div>

          <div class="form-group">
            <div class="col">
              <button type="button" class="btn btn-success" (click)="guardarDatos()" [disabled]=" !formR.form.valid " title="Guardar cambios.">Guardar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
